:root{
    --gold1:#f4bd76;
    --gold2:#f6cd8f;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1:#1a1b1f;
    --black2:#30553b;
    --shadow:0 8px 8px;
    --color-shadow:#00000033;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}
.container-modifier{
    width: 60%;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}
.nav-hero{
    color: white;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}
.logo-name{
    font-size: 24px;
}
.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}
.link-active{
    color: var(--gold1);
    font-weight: 700;
}
.point{
    color: var(--gold1);
}
.hero-main{
    display: flex;
    align-items: center;
    padding: 0;
    height: calc(100vh - 70px);
}
.mockup{
    object-fit: cover;
    height: calc(80vh - 70px);
}
.title{
    font-size: 56px;
    font-weight: 300;
    color: white;
}
.title-active{
    color: var(--gold1);
    font-weight: 700;
}
.copy{
    font-size: 22px;
    color: var(--gray);
    text-shadow: var(--shadow) var(--color-shadow);
    padding: 15px 0;
}
.copy-active{
    font-weight: 700;
}
.cta{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #f7ce90 0%, #f48d76 100%);
    color:var(--black2);
    font-weight: 700;
    box-shadow:  var(--shadow) var(--color-shadow);
    text-decoration: none;
    border-radius: 6px;
}

/*SERVICES*/
.services{
    background: #fafafa;
}
.subtitle{
    font-size: 42px;
}
.subtitle-modifier{
    text-align: center;
    margin-bottom: 16px;
}
.copy-section{
    color: var(--black2);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}
.copy-section-modifier{
    text-align: center;
    margin-bottom: 32px;
}
.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 30%;  
    padding: 30px 10px;
    overflow: hidden;
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    border-radius: 10px;
    position: relative;
    text-align:right ;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color-shadow);
}
.card-img{
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    
}
.card-text{
    width: 95%;
    margin-left: auto;
    padding-right: 25px;

}
.card-list{
    color: var(--gold2);
    font-weight: 700;
    margin: 25px 0 12px;
}
.card-title{
    font-size: 40px;
    color: white;
    margin-bottom: 8px;
}
.card-copy{
    color: var(--gray2);
    margin-bottom: 16px;

}
.card-button{
    display: block;
    background: linear-gradient(180deg, #f7ce90 0%, #f48d76 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--black1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}
.card-date{
    color: var(--gold2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}
.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.background{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 61px;
}
.background-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.background-text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: white;
}
.background-title{
    font-size:24px ;
    margin-bottom: 4px;
}
.testimony{
    background: #fafafa;

}
.testimony-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.testimony-card{
    width: 30%;
    height: 500px;
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;

}
.testimony-img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
}
.testimony-copy{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    color: white;
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    margin:0 auto;
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color-shadow);
    padding: 15px 8px;
    display: flex;
    align-items: center;
}
.testimony-copy-modifier{
    background: none;
    box-shadow: none;
}
.testimony-logo{
    font-size: 40px;
    margin-right: 15px;
    display: inline-block;
}
.testimony-name{
    font-size: 24px;
    line-height: 28px;
}
.testimony-position{
    color: var(--gray);
}
.testimony.text{
    padding: 40px;
    width: 90%;
    margin: 0 auto;
    
}
.testimony-history{
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin: 20px;
}
.testimony-info{
    width: 70%;

}
.google-logo{
    width: 70%;
}
.logo-picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;

}
.check{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;

}
.check-item{
    width: 30%;
    padding-right: 10px;
    display: flex;
    border-right: 2px solid var(--black2);
}
.bx-check{
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    color: white;
    border-radius: 50%;
    font-size: 40px;
}
.check-number{
    font-weight: 700;

}
.check-copy{
    font-weight: 300;
}
.newsletter{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}
.newsletter-modifier{
    margin: 0;
    width: 80%;
}
.newsletter-input{
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    border-radius: 6px;
    border: 1px solid var(--black1);
}
.newsletter-submit{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    color:white;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
}